.wrapper {
    border: 5px solid black;
    top: 52%;
    left: 50%;
    position: absolute;
    width: 600px;
    height: 800px;
    transform: translate(-50%, -50%);
    background: url('azul.png');
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}