@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**Header**/
.content {
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}
.navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    transition: 0.6s;
    font-family: "Londrina Solid", cursive;
}

.navbar.sticky {
    padding: 18px 0;
    background: #141510;
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a img {
    background: #141510;
    border-radius: 50px;
}

.navbar .menu-list {
    display: inline-flex;
    transition: 0.5s;
    transition-property: left;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    border-radius: 15px;
    padding: 0 10px;
    transition: 0.28s;
    transition-property: color, background;
}

.menu-list li a:hover {
    color: #fff;
    background: rgb(48, 174, 116);
}

/**Imagen de atrás**/


/**Creadores**/

.fake {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    min-height: 100vh;
    font-family: 'Varela Round', sans-serif;
}
.about {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
    margin-top: 100px;
}

.about .card {
    position: relative;
    height: 250px;
    background: white;
    display: flex;
    width: 45%;
    margin: 30px 0;
}

.about .card .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.about .card:hover .imgBx {
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #63e0c7;
}

.about .card .imgBx:before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: rgba(255,255,255,.05);
    font-weight: 700;
}

.about .card .imgBx img {
    max-width: 120px;
    transition: 0.5s ease-in-out;
}

.about .card:hover .imgBx img {
    max-width: 75px;
}

.about .card .conten {
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .card .conten h3 {
    margin-bottom: 5px;
    font-size: 24px;

}

.about .card .conten a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: white;
}

/**footer**/

.container {
    max-width: 1250px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
    font-family: 'Varela Round', sans-serif;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(48, 174, 116);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col h5 {
    font-size: 16px;
    color: #bbbb;
    font-weight: 200;
    margin-bottom: 15px;
    text-align: justify;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: white;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: white;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #24262b;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: white;
    background-color: rgb(48, 174, 116);
}

/**Icono barritas**/
.icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

/**Icono tache guarache**/
.icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

/**---------RESPONSIVE----------**/

/** Cosas del Header **/
@media (max-width: 868px) {

    /**header**/
    body.disabledScroll {
        overflow: hidden;
    }

    .icon {
        display: block ;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;;
        background: #222;
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3 ease;
    }

    .navbar .menu-list.active {
        left: 0%;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 23px;
    }

    /**footer**/
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 992px) {
    .about {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .about .card {
        width: 400px;
    }
}

@media (max-width: 768px) {
    .about .card {
        max-width: 300px;
        flex-direction: column;
        height: auto;
    }

    .about .card .imgBx {
        position: relative;
    }

    .about .card .imgBx,
    .about .card:hover .imgBx {
        width: 100%;
        height: 200px;
        left: 0;
    }

    .about .card .imgBx img,
    .about .card:hover .imgBx img {
        max-width: 100px;
    }

    .about .card .conten {
        position: relative;
        width: 100%;
    }
}

/**Responsive 2.0**/
/**footer**/
@media (max-width: 520px) {
    .footer-col {
        width: 100%;
    }
}

/**----------------------------**/
/**Background cambiante**/
@keyframes change {
    0%
    {
        background-image: url(https://media.discordapp.net/attachments/457618477679771669/1085884841041600543/firewatch_2.jpg?width=1176&height=492);
    }

    50%
    {
        background-image: url(https://media.discordapp.net/attachments/457618477679771669/1085884856535355514/firewatch1.jpg?width=1176&height=492);
    }

    100%
    {
        background-image: url(https://media.discordapp.net/attachments/457618477679771669/1085885337026429008/679478.png?width=1062&height=597);
    }

}