@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**Header**/
.content {
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}

.navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
    padding: 25px 0;
    transition: 0.6s;
    font-family: "Londrina Solid", cursive;
}

.navbar.sticky {
    padding: 18px 0;
    background: #141510;
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a img {
    background: #141510;
    border-radius: 50px;
}

.navbar .menu-list {
    display: inline-flex;
    transition: 0.5s;
    transition-property: left;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    border-radius: 15px;
    padding: 0 10px;
    transition: 0.28s;
    transition-property: color, background;
}

.menu-list li a:hover {
    color: #fff;
    background: rgb(48, 174, 116);
}

/**puertas del infierno**/
/* ---- reset ---- */

body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats, .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

/* UTILIDADES */
img
{
    max-width: 100%;
}
.contenedor
{
    max-width: 1100px;
    margin: 0 auto;
    width: 95%;
}

/* MIS ESTILOS */

.containerHeader
{
    height: 100vh;
    background-color: blue;
    background: linear-gradient( 90deg , #222 0% , #333 100% );
    display: flex;
    justify-content: center; 
    align-items: center;
}
.containMain
{
    display: grid;
    grid-template-columns: repeat( 2, 1fr) ;
    width: 100%;
    gap: 8rem;
    position: absolute;
    z-index: 1;
}
.containMain .item
{
}
.item h1
{
    font-family: "Londrina Solid", cursive;
    letter-spacing: 5px;
    font-size: 150px;
    line-height: 4rem;
    text-transform: capitalize;
    color: #FFF;
    margin-top: 70px;
    margin-bottom: 50px;
}
.item p
{
    color: white;
    text-align: justify;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 200%;
    margin-bottom: 20px;
    font-family: 'Varela Round', sans-serif;

}
.buton
{
    text-decoration: none;
    padding: 14px;
    width: 10rem;
    height: 3rem;
    background: transparent ;
    font-family: "Lato";
    text-transform: uppercase;
    color:#FFF;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
}

.buton:hover {
    border: none;
    background-color: #63c0c7;
    color: white;
}

.item:nth-of-type(2)
{
    display: flex;
    justify-content: center;
    align-items: center;
}


/**footer**/

.container {
    max-width: 1250px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #141510;
    padding: 70px 0;
    font-family: 'Varela Round', sans-serif;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(48, 174, 116);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col h5 {
    font-size: 16px;
    color: #bbbb;
    font-weight: 200;
    margin-bottom: 15px;
    text-align: justify;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: white;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: white;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #141510;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: white;
    background-color: rgb(48, 174, 116);
}

/**Icono barritas**/
.icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

/**Icono tache guarache**/
.icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

/**---------RESPONSIVE----------**/

/** Cosas del Header **/
@media (max-width: 868px) {

    /**header**/
    body.disabledScroll {
        overflow: hidden;
    }

    .icon {
        display: block ;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;;
        background: #222;
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3 ease;
    }

    .navbar .menu-list.active {
        left: 0%;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 23px;
    }

    /**footer**/
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

/**Responsive 2.0**/
/**footer**/
@media (max-width: 520px) {
    .footer-col {
        width: 100%;
    }
}